.apply-btn {
  border: solid 1px #1158ac;
  background-color: #1158ac;
  border-radius: 3px;
  width: 100px;
  height: 30px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}
