.title {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.75px;
  font-variant: small-caps;
  margin: 0;
  padding: 0;
}
