.main-container {
  .row {
    display: flex;
    justify-content: center;
    // border: solid 1px red;
    margin: 10px;
  }

  .label-row {
    background-color: #1158ac;
    color: #fff;
  }

  .filter-row {
    .filter-input-col {
      // border: solid 1px red;
    }
  }

  .placements-row {
    margin-left: 0;
  }

  .all-totals-row {
    .all-totals-col {
      // margin-left: 2px;
    }
  }
}
