.main-container {
  .row {
    display: flex;
    justify-content: center;
    // border: solid 1px red;
    margin: 10px;

    .custom-col {
    }
  }

  .label-row {
    background-color: #1158ac;
    color: #fff;
  }

  .filter-row {
    .filter-input-col {
    }
  }

  .placements-row {
    margin-left: 0;
  }

  .all-totals-row {
    display: flex;
    justify-content: center;
    border: solid 1px blue;
    .all-totals-col {
      padding: 0;

      border: solid 1px red;
      background-color: aqua;
    }
  }
}
